*{
  margin:0;
  padding:0;
  list-style:none;
  box-sizing:border-box;
}
body,#wrapper{
  width:100%;
  font-size:.12rem;
  position:absolute;
  top:0;
  bottom:0;
  display:-webkit-flex;
  -webkit-flex-direction:column;
}
.header{
  height:.48rem;
  background:#2ca2f9;
  .left{
    float:left;
    display:-webkit-flex;
    color:#fff;
    margin-left:.1rem;
    b{
      margin-left:.1rem;
    }
    span{
      border:1px solid #fff;
      border-radius:5px;
      width:80px;
      height:25px;
      text-align:center;
      line-height:25px;
      font-size:.14rem;
      margin-left:.1rem;
      margin-top:.1rem;
    }
  }
  .right{
    float:right;
    color:#fff;
    margin-right:.1rem;
  }
}
.nav{
  height:.48rem;
  line-height:.48rem;
  font-size:.16rem;
  ul{
    display:-webkit-flex;
    li{
      -webkit-flex-grow:1;
      text-align:center;
      &:hover{
        border-bottom:2px solid blue;
      }
    }
  }
}
.content{
  overflow-y:auto;
  -webkit-flex-grow:1;
  .banner{
    height:1.2rem;
    margin-top:2px;
    ul{
      height:1.2rem;
      li{
        height:1.2rem;
        img{
          width:100%;
          height:100%;
        }
      }
    }
  }
  #newsong-list{
    ul{
      li{
        height:.5rem;
        line-height:.5rem;
        border-bottom:1px solid #ccc;
        font-size:.14rem;
        span{
          padding-left:.1rem;
        }
        i{
          float:right;
          padding-right:.1rem;
        }
      }
    }
  }
}
#order-list,#song-list{
  dl{
    height:.9rem;
    border-bottom: 1px solid #ccc;
    dt{
      height:100%;
      float:left;
      margin-right:.15rem;
      img{
        width:100%;
        height:100%;
        padding:.05rem;
      }
    }
    dd{
      line-height:.9rem;
      font-size:.14rem;
      i{
        float:right;
        padding-right:.1rem;
      }
    }
  }
}
#singer-list{
  ul{
    margin-left:.05rem;
    margin-right:.05rem;
    margin-top:.1rem;
    margin-bottom:.2rem;
    border:1px solid #ccc;
    border-radius:5px;
    background:#fbfbfb;
    li{
      height:.4rem;
      line-height:.4rem;
      border-bottom:1px solid #ccc;
      font-size:.14rem;
      &:nth-child(3){
        border-width:0;
      }
      span{
        padding-left:.1rem;
      }
      i{
        float:right;
        padding-right:.1rem;
      }
    }
  }
}