
<div id="singer-list">
    <ul>
        <li><span>华语男歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>华语女歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>华语组合</span><i class="iconfont icon-youjiantou-copy"></i></li>
    </ul>
    <ul>
        <li><span>日韩男歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>日韩女歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>日韩组合</span><i class="iconfont icon-youjiantou-copy"></i></li>
    </ul>
    <ul>
        <li><span>欧美男歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>欧美女歌手</span><i class="iconfont icon-youjiantou-copy"></i></li>
        <li><span>欧美组合</span><i class="iconfont icon-youjiantou-copy"></i></li>
    </ul>
</div>
</div>
